Distributed Software Development/Assignments/Assignment 4/XML Parsing/XMLParsing/Hotels.xsd

<?xml version="1.0" encoding="UTF-8"?>
   <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
         <!-- XML Schema Generated from XML Document on Sun Nov 02 2014 09:05:46 GMT-0800 (Pacific Standard Time) -->
         <!-- with XmlGrid.net Free Online Service http://xmlgrid.net -->
         <xs:element name="Hotels">
               <xs:complexType>
                     <xs:sequence>
                           <xs:element name="Hotel" maxOccurs="unbounded">
                                 <xs:complexType>
                                       <xs:sequence>
                                             <xs:element name="Name" type="xs:string"></xs:element>
                                             <xs:element name="Contact">
                                                   <xs:complexType>
                                                         <xs:sequence>
                                                               <xs:element name="Phone" type="xs:int"></xs:element>
                                                               <xs:element name="Email" type="xs:string"></xs:element>
                                                         </xs:sequence>
                                                   </xs:complexType>
                                             </xs:element>
                                             <xs:element name="Address">
                                                   <xs:complexType>
                                                         <xs:sequence>
                                                               <xs:element name="Number" type="xs:int"></xs:element>
                                                               <xs:element name="Street" type="xs:string"></xs:element>
                                                               <xs:element name="City" type="xs:string"></xs:element>
                                                               <xs:element name="Zip" type="xs:int"></xs:element>
                                                         </xs:sequence>
                                                     <xs:attribute name="BusLines" type="xs:string" use="required"> </xs:attribute>
                                                  </xs:complexType>
                                             </xs:element>
                                       </xs:sequence>
                                       <xs:attribute name="Stars" type="xs:string" use="optional"> </xs:attribute>
                                 </xs:complexType>
                           </xs:element>
                     </xs:sequence>
               </xs:complexType>
         </xs:element>
   </xs:schema>