Distributed Software Development/Assignments/Assignment 1/Problem 2/WindowsFormsApplication1_Temperature/WindowsFormsApplication1_Temperature/Service References/TempConversionService/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="C2F">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="celsiusTemp" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="C2FResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="C2FResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="F2C">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fahrenheitTemp" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="F2CResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="F2CResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>