Distributed Software Development/Assignments/Assignment 1/Problem 3/Temperature_webSite1/App_WebReferences/TempServiceRef/Temperature.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Temperature" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:58663/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:58663/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_C2F_InputMessage">
    <wsdl:part name="parameters" element="tns:C2F" />
  </wsdl:message>
  <wsdl:message name="IService1_C2F_OutputMessage">
    <wsdl:part name="parameters" element="tns:C2FResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_F2C_InputMessage">
    <wsdl:part name="parameters" element="tns:F2C" />
  </wsdl:message>
  <wsdl:message name="IService1_F2C_OutputMessage">
    <wsdl:part name="parameters" element="tns:F2CResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="C2F">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/C2F" message="tns:IService1_C2F_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/C2FResponse" message="tns:IService1_C2F_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="F2C">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/F2C" message="tns:IService1_F2C_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/F2CResponse" message="tns:IService1_F2C_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="C2F">
      <soap:operation soapAction="http://tempuri.org/IService1/C2F" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="F2C">
      <soap:operation soapAction="http://tempuri.org/IService1/F2C" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Temperature">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:58663/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>